<link rel="stylesheet" href="/css/comments.css">

<li id="comment-<%= comment._id %>">
    <p>
        <% if (locals.user && locals.user.id == comment.user.id){ %>
        
        <small>
            <a class="delete-button" href="/comment/destroy/<%= comment._id %>/<%=post._id%>"><img class="delete-button" src="https://cdn-icons-png.flaticon.com/512/1214/1214428.png" alt="delete-post"></a>
        </small>
        <% } %>
        <%= comment.content %>
        <br>
        <small>
            <%= comment.user.name %>
        </small>
        <br>
        <small>
            <% if(locals.user){ %>
              <a class="toggle-like-button" data-likes="<%=comment.likes.length%>" href="/likes/toggle/?id=<%=comment._id%>&type=Comment">
                  <%= comment.likes.length%> Likes
              </a>
              
            <% }else { %>
              <%= comment.likes.length %> Likes
            <%} %>
        </small>
    </p>    

</li>