<li id="post-<%= post._id%>">
  <p>
      <% if ( (locals.user) && (post.user.id == locals.user.id) ) { %>
      <small>
          <a class="delete-post-button" href="/posts/destroy/<%= post._id %>">Delete</a>
      </small>
      <% } %>
      <%= post.content %>
      <br>
      <small>
      <%= post.user.name %>
  </small>
  </p>

  <div class="post-comments">
      <% if (locals.user) { %>
          <form action="/comments/create" method="post" id="post-<%= post._id %>-comments-form">
              <input type="text" name="content" placeholder="Add comment"..>
              <input type="hidden" name="post" value="<%= post._id %>">
              <input type="submit" value="COMMENT">
          </form>
      <% } %>

      <div class="post-comments-list">

          <ul id="post-comments-<%= post._id %>">
              <% for(comment of post.comments){ %>
                  
                <%- include('_comment') -%>
                  
              <% } %>
          </ul>

      </div>
  </div>
</li>

